<h1> This is a simple <b>ASP.NET</b> Website</h1>

<ul class="list-group">
  <li class="list-group-item">It is made in VS 2017 using ASP MVC 5 Framework.</li>
  <li class="list-group-item">It has an API at <a href="/api/randomdata">/api/randomdata</a> and <a href="/api/downloaddata">/api/downloaddata/{count}</a></li> 
  <li class="list-group-item">It is connected to database created with entity framework and code-first migrations</li>
  <li class="list-group-item"><b>ToDo:</b> Admin account to CRUD data, <s>add download button</s>, <s>add click'n'copy to generator page</s>, <s>add angular to project</s> </li>
  <li class="list-group-item">Source code is avaliable <a href="https://github.com/ogigg/RandomDataWeb">here</a></li>
</ul>
